@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Merriweather Sans", sans-serif;
  --font-serif: "Merriweather", serif;
  --font-mono: "Fira Code", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: "Merriweather", serif;
  --radius: 0.375rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --fg: #241910;
  --bg: #fefbf4;
  --radius: 0.375rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.2612 0.0154 264.2613);
  --card: oklch(0.9708 0.0044 67.7725);
  --card-foreground: oklch(0.2612 0.0154 264.2613);
  --popover: oklch(0.9854 0.0022 67.7975);
  --popover-foreground: oklch(0.2612 0.0154 264.2613);
  --primary: oklch(0.8682 0.0731 75.8491);
  --primary-foreground: oklch(0.2612 0.0154 264.2613);
  --secondary: oklch(0.9528 0.0053 247.8793);
  --secondary-foreground: oklch(0.2612 0.0154 264.2613);
  --muted: oklch(0.926 0.0088 67.7167);
  --muted-foreground: oklch(0.4973 0.0233 264.3376);
  --accent: oklch(0.9342 0.0229 76.5191);
  --accent-foreground: oklch(0.4114 0.0641 73.5448);
  --destructive: oklch(0.6333 0.2001 24.932);
  --border: oklch(0.8393 0.0101 264.5103);
  --input: oklch(0.9708 0.0044 67.7725);
  --ring: oklch(0.9013 0.0346 76.4158);
  --chart-1: oklch(0.9013 0.0346 76.4158);
  --chart-2: oklch(0.5995 0.1404 154.9675);
  --chart-3: oklch(0.6758 0.1453 238.462);
  --chart-4: oklch(0.6532 0.2114 353.9392);
  --chart-5: oklch(0.7794 0.1623 75.2937);
  --sidebar: oklch(0.3103 0.0197 264.2318);
  --sidebar-foreground: oklch(0.9854 0.0022 67.7975);
  --sidebar-primary: oklch(0.9013 0.0346 76.4158);
  --sidebar-primary-foreground: oklch(0.2612 0.0154 264.2613);
  --sidebar-accent: oklch(0.4034 0.0277 264.1964);
  --sidebar-accent-foreground: oklch(0.9854 0.0022 67.7975);
  --sidebar-border: oklch(0.4973 0.0233 264.3376);
  --sidebar-ring: oklch(0.9013 0.0346 76.4158);
  --destructive-foreground: oklch(0.9854 0.0022 67.7975);
  --font-sans: "Merriweather Sans", sans-serif;
  --font-serif: "Merriweather", serif;
  --font-mono: "Fira Code", monospace;
  --font-geist-mono: "Geist Mono", monospace;
  --font-metamorphous: "Metamorphous", serif;
  --font-pp-neue-montreal: "PP Neue Montreal", sans-serif;
  --shadow-color: hsl(220 15% 15%);
  --shadow-opacity: 0.05;
  --shadow-blur: 0.5rem;
  --shadow-spread: -0.125rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.25rem 0.5rem -0.125rem hsl(220 15% 15% / 0.03);
  --shadow-xs: 0rem 0.25rem 0.5rem -0.125rem hsl(220 15% 15% / 0.03);
  --shadow-sm:
    0rem 0.25rem 0.5rem -0.125rem hsl(220 15% 15% / 0.05), 0rem 1px 2px -1.125px
    hsl(220 15% 15% / 0.05);
  --shadow:
    0rem 0.25rem 0.5rem -0.125rem hsl(220 15% 15% / 0.05), 0rem 1px 2px -1.125px
    hsl(220 15% 15% / 0.05);
  --shadow-md:
    0rem 0.25rem 0.5rem -0.125rem hsl(220 15% 15% / 0.05), 0rem 2px 4px -1.125px
    hsl(220 15% 15% / 0.05);
  --shadow-lg:
    0rem 0.25rem 0.5rem -0.125rem hsl(220 15% 15% / 0.05), 0rem 4px 6px -1.125px
    hsl(220 15% 15% / 0.05);
  --shadow-xl:
    0rem 0.25rem 0.5rem -0.125rem hsl(220 15% 15% / 0.05), 0rem 8px 10px
    -1.125px hsl(220 15% 15% / 0.05);
  --shadow-2xl: 0rem 0.25rem 0.5rem -0.125rem hsl(220 15% 15% / 0.13);
  --tracking-normal: normal;
}

@layer base {
  * {
    @apply border-border outline-ring/50 m-0 p-0 box-border cursor-none;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "DM Mono", monospace;
    letter-spacing: var(--tracking-normal);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    @apply text-3xl font-serif;
  }

  .gradient-mask-t-0 {
    -webkit-mask-image: linear-gradient(#0000, #000);
    mask-image: linear-gradient(#0000, #000);
  }

  .font-geist-mono {
    font-family: var(--font-geist-mono);
  }
  .font-metamorphous {
    font-family: var(--font-metamorphous);
  }
}

@layer utilities {
}

@layer components {
  .hero-section {
    position: relative;
    height: 100svh;
    overflow: hidden;
  }

  .progress-bar {
    opacity: 0;
  }

  .progress-bar-inner {
    height: 0;
  }
}
